.elementor-9 .elementor-element.elementor-element-616da992 {
    margin-top: 0;
    margin-bottom: 0;
    z-index: 99
}

.elementor-9 .elementor-element.elementor-element-2de33858>.elementor-element-populated {
    margin: -195px 0 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px
}

.elementor-9 .elementor-element.elementor-element-b06b901>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-9 .elementor-element.elementor-element-a6eed02 {
    box-shadow: 0px 2px 40px 0px rgba(34,34,34,.127)
}

.elementor-9 .elementor-element.elementor-element-2a47932d {
    margin-top: 15px;
    margin-bottom: 0;
    padding: 15px 0 10px
}

.elementor-9 .elementor-element.elementor-element-39d90be1>.elementor-element-populated {
    margin: 45px 0 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px
}

.elementor-9 .elementor-element.elementor-element-960b776 .ct-heading .item--title {
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 31px
}

.elementor-9 .elementor-element.elementor-element-960b776 .ct-heading .item--sub-title {
    color: #595959;
    font-family: "Roboto",Sans-serif;
    font-weight: 400;
    margin-bottom: 9px
}

.elementor-9 .elementor-element.elementor-element-960b776 .ct-heading .item--sub-title.style3:before {
    background-color: #595959
}

.elementor-9 .elementor-element.elementor-element-960b776 .ct-heading .item--sub-title.style7:before {
    background-color: #595959
}

.elementor-9 .elementor-element.elementor-element-960b776 .ct-heading .item--sub-title.style7:after {
    background-color: #595959
}

.elementor-9 .elementor-element.elementor-element-1ce1d7f {
    color: #383838;
    font-size: 18px;
    line-height: 34px
}

.elementor-9 .elementor-element.elementor-element-1ce1d7f>.elementor-widget-container {
    margin: 0 0 20px
}

.elementor-9 .elementor-element.elementor-element-7f65798f {
    color: #383838;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px
}

.elementor-9 .elementor-element.elementor-element-7f65798f>.elementor-widget-container {
    margin: 0 0 26px
}

.elementor-9 .elementor-element.elementor-element-6f81964f>.elementor-widget-container {
    margin: 0 0 28px
}

.elementor-9 .elementor-element.elementor-element-73bf51fe {
    color: #000;
    font-family: "Lato",Sans-serif;
    font-size: 21px;
    font-weight: 600;
    text-shadow: 0px 0px 0px rgba(0,0,0,.3)
}

.elementor-9 .elementor-element.elementor-element-73bf51fe>.elementor-widget-container {
    margin: 0 0 12px
}

.elementor-9 .elementor-element.elementor-element-6a407e7f {
    text-align: left
}

.elementor-9 .elementor-element.elementor-element-6a407e7f>.elementor-widget-container {
    margin: 0 0 3px
}

.elementor-9 .elementor-element.elementor-element-2c74b08b>.elementor-element-populated {
    margin: 45px 0 0 20px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 20px
}

.elementor-9 .elementor-element.elementor-element-7218950>.elementor-widget-container {
    margin: 10px 0 0
}

.elementor-9 .elementor-element.elementor-element-601d6998:not(.elementor-motion-effects-element-type-background),.elementor-9 .elementor-element.elementor-element-601d6998>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #f1f1f1
}

.elementor-9 .elementor-element.elementor-element-601d6998 {
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 125px 0 120px
}

.elementor-9 .elementor-element.elementor-element-601d6998>.elementor-background-overlay {
    transition: background .3s,border-radius .3s,opacity .3s
}

.elementor-9 .elementor-element.elementor-element-195f98ba>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px
}

.elementor-9 .elementor-element.elementor-element-31f88e6 {
    fill: #fafafa
}

.elementor-9 .elementor-element.elementor-element-d965bf5 {
    fill: #fafafa
}

.elementor-9 .elementor-element.elementor-element-611e8f81 .ct-counter-number {
    font-family: "Barlow",Sans-serif;
    font-size: 60px
}

.elementor-9 .elementor-element.elementor-element-4a93e617 .ct-counter-number {
    font-family: "Barlow",Sans-serif;
    font-size: 60px
}

.elementor-9 .elementor-element.elementor-element-4a93e617 .ct-counter .ct-counter-icon i {
    font-size: 52px
}

.elementor-9 .elementor-element.elementor-element-5076cac3 .ct-counter-number {
    font-family: "Barlow",Sans-serif;
    font-size: 60px
}

.elementor-9 .elementor-element.elementor-element-5076cac3 .ct-counter .ct-counter-icon i {
    font-size: 54px
}

.elementor-9 .elementor-element.elementor-element-5e6b8aa1 .ct-counter-number {
    font-family: "Barlow",Sans-serif;
    font-size: 60px
}

.elementor-9 .elementor-element.elementor-element-2d862ed2 {
    padding: 15px 0 0
}

.elementor-9 .elementor-element.elementor-element-3428be55 .ct-heading {
    text-align: center
}

.elementor-9 .elementor-element.elementor-element-3428be55 .ct-heading .item--title {
    font-size: 28px;
    font-weight: 600;
    line-height: 44px;
    margin-bottom: 42px
}

.elementor-9 .elementor-element.elementor-element-3428be55 .ct-heading .item--sub-title {
    color: #595959;
    font-family: "Roboto",Sans-serif;
    font-weight: 400;
    margin-bottom: 9px
}

.elementor-9 .elementor-element.elementor-element-3428be55 .ct-heading .item--sub-title.style3:before {
    background-color: #595959
}

.elementor-9 .elementor-element.elementor-element-3428be55 .ct-heading .item--sub-title.style7:before {
    background-color: #595959
}

.elementor-9 .elementor-element.elementor-element-3428be55 .ct-heading .item--sub-title.style7:after {
    background-color: #595959
}

.elementor-9 .elementor-element.elementor-element-2ac909c .ct-heading {
    text-align: center
}

.elementor-9 .elementor-element.elementor-element-2ac909c .ct-heading .item--title {
    color: #cc3433;
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 0
}

.elementor-9 .elementor-element.elementor-element-2ac909c .ct-heading .item--title i {
    color: #cc3433
}

.elementor-9 .elementor-element.elementor-element-2ac909c .ct-heading .item--sub-title {
    margin-bottom: 9px
}

.elementor-9 .elementor-element.elementor-element-4fc5c7a .ct-button-wrapper {
    text-align: center
}

.elementor-9 .elementor-element.elementor-element-4fc5c7a .ct-button-wrapper .btn {
    background: #363794 !important;
    color: #fff !important
}

.elementor-9 .elementor-element.elementor-element-4fc5c7a .ct-button-wrapper .btn.btn-white2 i {
    color: #363794 !important
}

.elementor-9 .elementor-element.elementor-element-4fc5c7a .ct-button-wrapper .btn.btn-third i {
    color: #363794 !important
}

.elementor-9 .elementor-element.elementor-element-4fc5c7a .ct-button-wrapper .btn:hover {
    background: #cc3433 !important;
    color: #fff !important
}

.elementor-9 .elementor-element.elementor-element-4fc5c7a .ct-button-wrapper .btn.btn-white2:hover i {
    color: #cc3433 !important
}

.elementor-9 .elementor-element.elementor-element-4fc5c7a .ct-button-wrapper .btn.btn-third:hover i {
    color: #cc3433 !important
}

.elementor-9 .elementor-element.elementor-element-4fc5c7a>.elementor-widget-container {
    padding: 10px 0 0
}

.elementor-9 .elementor-element.elementor-element-42d0a7e .ct-heading {
    text-align: center
}

.elementor-9 .elementor-element.elementor-element-42d0a7e .ct-heading .item--title {
    color: #cc3433;
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 0
}

.elementor-9 .elementor-element.elementor-element-42d0a7e .ct-heading .item--title i {
    color: #cc3433
}

.elementor-9 .elementor-element.elementor-element-42d0a7e .ct-heading .item--sub-title {
    margin-bottom: 9px
}

.elementor-9 .elementor-element.elementor-element-8add3d9 .ct-button-wrapper {
    text-align: center
}

.elementor-9 .elementor-element.elementor-element-8add3d9 .ct-button-wrapper .btn {
    background: #363794 !important;
    color: #fff !important
}

.elementor-9 .elementor-element.elementor-element-8add3d9 .ct-button-wrapper .btn.btn-white2 i {
    color: #363794 !important
}

.elementor-9 .elementor-element.elementor-element-8add3d9 .ct-button-wrapper .btn.btn-third i {
    color: #363794 !important
}

.elementor-9 .elementor-element.elementor-element-8add3d9 .ct-button-wrapper .btn:hover {
    background: #cc3433 !important;
    color: #fff !important
}

.elementor-9 .elementor-element.elementor-element-8add3d9 .ct-button-wrapper .btn.btn-white2:hover i {
    color: #cc3433 !important
}

.elementor-9 .elementor-element.elementor-element-8add3d9 .ct-button-wrapper .btn.btn-third:hover i {
    color: #cc3433 !important
}

.elementor-9 .elementor-element.elementor-element-8add3d9>.elementor-widget-container {
    padding: 10px 0 0
}

.elementor-9 .elementor-element.elementor-element-b099a56 .ct-heading {
    text-align: center
}

.elementor-9 .elementor-element.elementor-element-b099a56 .ct-heading .item--title {
    color: #cc3433;
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 0
}

.elementor-9 .elementor-element.elementor-element-b099a56 .ct-heading .item--title i {
    color: #cc3433
}

.elementor-9 .elementor-element.elementor-element-b099a56 .ct-heading .item--sub-title {
    margin-bottom: 9px
}

.elementor-9 .elementor-element.elementor-element-a39e6b6 .ct-button-wrapper {
    text-align: center
}

.elementor-9 .elementor-element.elementor-element-a39e6b6 .ct-button-wrapper .btn {
    background: #363794 !important;
    color: #fff !important
}

.elementor-9 .elementor-element.elementor-element-a39e6b6 .ct-button-wrapper .btn.btn-white2 i {
    color: #363794 !important
}

.elementor-9 .elementor-element.elementor-element-a39e6b6 .ct-button-wrapper .btn.btn-third i {
    color: #363794 !important
}

.elementor-9 .elementor-element.elementor-element-a39e6b6 .ct-button-wrapper .btn:hover {
    background: #cc3433 !important;
    color: #fff !important
}

.elementor-9 .elementor-element.elementor-element-a39e6b6 .ct-button-wrapper .btn.btn-white2:hover i {
    color: #cc3433 !important
}

.elementor-9 .elementor-element.elementor-element-a39e6b6 .ct-button-wrapper .btn.btn-third:hover i {
    color: #cc3433 !important
}

.elementor-9 .elementor-element.elementor-element-a39e6b6>.elementor-widget-container {
    padding: 10px 0 0
}

.elementor-9 .elementor-element.elementor-element-4cbfdd43 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 92px 0 80px
}

.elementor-9 .elementor-element.elementor-element-4f3f34f4>.elementor-element-populated {
    margin: 0 40px 0 0;
    --e-column-margin-right: 40px;
    --e-column-margin-left: 0px
}

.elementor-9 .elementor-element.elementor-element-701c7a3 .ct-heading .item--title {
    font-size: 28px;
    font-weight: 600;
    line-height: 44px;
    margin-bottom: 26px
}

.elementor-9 .elementor-element.elementor-element-701c7a3 .ct-heading .item--sub-title {
    color: #595959;
    font-family: "Roboto",Sans-serif;
    font-weight: 400;
    margin-bottom: 9px
}

.elementor-9 .elementor-element.elementor-element-701c7a3 .ct-heading .item--sub-title.style3:before {
    background-color: #595959
}

.elementor-9 .elementor-element.elementor-element-701c7a3 .ct-heading .item--sub-title.style7:before {
    background-color: #595959
}

.elementor-9 .elementor-element.elementor-element-701c7a3 .ct-heading .item--sub-title.style7:after {
    background-color: #595959
}

.elementor-9 .elementor-element.elementor-element-d884733 {
    color: #383838;
    font-size: 18px;
    line-height: 34px
}

.elementor-9 .elementor-element.elementor-element-d884733>.elementor-widget-container {
    margin: 0 0 33px
}

.elementor-9 .elementor-element.elementor-element-7d0fe08 .ct-button-wrapper .btn {
    background: #363794 !important;
    color: #fff !important
}

.elementor-9 .elementor-element.elementor-element-7d0fe08 .ct-button-wrapper .btn.btn-white2 i {
    color: #363794 !important
}

.elementor-9 .elementor-element.elementor-element-7d0fe08 .ct-button-wrapper .btn.btn-third i {
    color: #363794 !important
}

.elementor-9 .elementor-element.elementor-element-7d0fe08 .ct-button-wrapper .btn:hover {
    background: #cc3433 !important;
    color: #fff !important
}

.elementor-9 .elementor-element.elementor-element-7d0fe08 .ct-button-wrapper .btn.btn-white2:hover i {
    color: #cc3433 !important
}

.elementor-9 .elementor-element.elementor-element-7d0fe08 .ct-button-wrapper .btn.btn-third:hover i {
    color: #cc3433 !important
}

.elementor-9 .elementor-element.elementor-element-3e1d9240>.elementor-element-populated {
    margin: -25px 0 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px
}

.elementor-9 .elementor-element.elementor-element-376126b6>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-9 .elementor-element.elementor-element-376126b6:not(.elementor-motion-effects-element-type-background),.elementor-9 .elementor-element.elementor-element-376126b6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #f1f1f1
}

.elementor-9 .elementor-element.elementor-element-376126b6 {
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 30px 0 10px
}

.elementor-9 .elementor-element.elementor-element-376126b6>.elementor-background-overlay {
    transition: background .3s,border-radius .3s,opacity .3s
}

.elementor-9 .elementor-element.elementor-element-275d06c3 .ct-heading .item--title {
    font-size: 28px;
    font-weight: 600;
    line-height: 44px;
    margin-bottom: 0
}

.elementor-9 .elementor-element.elementor-element-275d06c3>.elementor-widget-container {
    padding: 0 15% 0 0
}

.elementor-9 .elementor-element.elementor-element-7b4163c6>.elementor-widget-container {
    margin: 8px 0 0
}

.elementor-9 .elementor-element.elementor-element-2d413bfc:not(.elementor-motion-effects-element-type-background),.elementor-9 .elementor-element.elementor-element-2d413bfc>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #f1f1f1
}

.elementor-9 .elementor-element.elementor-element-2d413bfc {
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 85px
}

.elementor-9 .elementor-element.elementor-element-2d413bfc>.elementor-background-overlay {
    transition: background .3s,border-radius .3s,opacity .3s
}

.elementor-9 .elementor-element.elementor-element-78fc0714>.elementor-widget-container {
    margin: 0 0 0 -35px
}

.elementor-9 .elementor-element.elementor-element-71c78a20>.elementor-element-populated {
    margin: 86px 80px 0 30px;
    --e-column-margin-right: 80px;
    --e-column-margin-left: 30px
}

.elementor-9 .elementor-element.elementor-element-46967a9a .ct-heading .item--title {
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    margin-bottom: 0
}

.elementor-9 .elementor-element.elementor-element-677f882b {
    color: #37404c;
    font-family: "Poppins",Sans-serif;
    font-size: 14px
}

.elementor-9 .elementor-element.elementor-element-677f882b>.elementor-widget-container {
    margin: 0 0 19px
}

@media(max-width: 1024px) {
    .elementor-9 .elementor-element.elementor-element-616da992 {
        padding:55px 0 0
    }

    .elementor-9 .elementor-element.elementor-element-2de33858>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }

    .elementor-9 .elementor-element.elementor-element-b06b901 {
        margin-top: 0;
        margin-bottom: 35px
    }

    .elementor-9 .elementor-element.elementor-element-960b776 .ct-heading .item--title {
        font-size: 34px;
        line-height: 38px
    }

    .elementor-9 .elementor-element.elementor-element-960b776>.elementor-widget-container {
        padding: 0
    }

    .elementor-9 .elementor-element.elementor-element-1ce1d7f {
        font-size: 16px;
        line-height: 30px
    }

    .elementor-9 .elementor-element.elementor-element-7f65798f {
        font-size: 16px;
        line-height: 30px
    }

    .elementor-9 .elementor-element.elementor-element-611e8f81 .ct-counter-number {
        font-size: 45px
    }

    .elementor-9 .elementor-element.elementor-element-4a93e617 .ct-counter-number {
        font-size: 45px
    }

    .elementor-9 .elementor-element.elementor-element-5076cac3 .ct-counter-number {
        font-size: 45px
    }

    .elementor-9 .elementor-element.elementor-element-5e6b8aa1 .ct-counter-number {
        font-size: 45px
    }

    .elementor-9 .elementor-element.elementor-element-3428be55 .ct-heading .item--title {
        font-size: 34px;
        line-height: 38px
    }

    .elementor-9 .elementor-element.elementor-element-4cbfdd43 {
        padding: 32px 0 80px
    }

    .elementor-9 .elementor-element.elementor-element-4f3f34f4>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }

    .elementor-9 .elementor-element.elementor-element-701c7a3 .ct-heading .item--title {
        font-size: 34px;
        line-height: 38px
    }

    .elementor-9 .elementor-element.elementor-element-d884733 {
        font-size: 16px;
        line-height: 30px
    }

    .elementor-9 .elementor-element.elementor-element-275d06c3 .ct-heading .item--title {
        font-size: 34px;
        line-height: 38px
    }

    .elementor-9 .elementor-element.elementor-element-275d06c3>.elementor-widget-container {
        padding: 0
    }

    .elementor-9 .elementor-element.elementor-element-71c78a20>.elementor-element-populated {
        margin: 56px 0 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }

    .elementor-9 .elementor-element.elementor-element-46967a9a .ct-heading .item--title {
        font-size: 34px;
        line-height: 38px
    }
}

@media(max-width: 767px) {
    .elementor-9 .elementor-element.elementor-element-a6eed02 {
        margin-top:32px;
        margin-bottom: 0
    }

    .elementor-9 .elementor-element.elementor-element-960b776>.elementor-widget-container {
        padding: 0
    }

    .elementor-9 .elementor-element.elementor-element-1ce1d7f>.elementor-widget-container {
        margin: 0 0 34px
    }

    .elementor-9 .elementor-element.elementor-element-7f65798f>.elementor-widget-container {
        margin: 0 0 34px
    }

    .elementor-9 .elementor-element.elementor-element-2c74b08b>.elementor-element-populated {
        margin: 62px 0 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }

    .elementor-9 .elementor-element.elementor-element-d884733>.elementor-widget-container {
        margin: 0 0 34px
    }

    .elementor-9 .elementor-element.elementor-element-3e1d9240>.elementor-element-populated {
        margin: 20px 0 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }
}

@media(min-width: 768px) {
    .elementor-9 .elementor-element.elementor-element-39d90be1 {
        width:45%
    }

    .elementor-9 .elementor-element.elementor-element-2c74b08b {
        width: 55%
    }

    .elementor-9 .elementor-element.elementor-element-2c32135 {
        width: 18%
    }

    .elementor-9 .elementor-element.elementor-element-bd9fe97 {
        width: 63.332%
    }

    .elementor-9 .elementor-element.elementor-element-5331e7f {
        width: 18%
    }
}

@media(max-width: 1024px) and (min-width:768px) {
    .elementor-9 .elementor-element.elementor-element-195f98ba {
        width:100%
    }

    .elementor-9 .elementor-element.elementor-element-99ed3e5 {
        width: 50%
    }

    .elementor-9 .elementor-element.elementor-element-1f250b0 {
        width: 50%
    }

    .elementor-9 .elementor-element.elementor-element-eac32cb {
        width: 50%
    }

    .elementor-9 .elementor-element.elementor-element-fec831b {
        width: 50%
    }

    .elementor-9 .elementor-element.elementor-element-2c32135 {
        width: 8%
    }

    .elementor-9 .elementor-element.elementor-element-bd9fe97 {
        width: 84%
    }

    .elementor-9 .elementor-element.elementor-element-5331e7f {
        width: 8%
    }
}
